@import "tailwindcss";
@import "prismjs/themes/prism-coy.css";

/* Highlighted code lines */
.highlighted-line {
    background-color: rgba(255, 255, 0, 0.2);
    border-left: 4px solid #fbbf24;
    padding-left: 0.5rem;
    margin-left: -0.5rem;
}
